.AddProjectPage form {
    text-align: center;
    border: 1px solid #333;
    background-color: rgb(191, 230, 255);
    margin: 2rem 2rem 4rem;
    padding: 1rem;
}

.AddProjectPage form label {
    display: block;
    margin: 1rem;
}

.AddProjectPage form input {
    display: block;
    margin: 0 auto;
}